#section1{
    background-color: #0000008a;
    display: flex;
    flex-direction: column;
}

#section1 img{
    margin: 0 10%;
}

#section1 .div_1{
    position: relative;
    width: 35%;
    background-color: #F6E1C5;
    padding: 2%;

    margin-left: 58%;
    margin-bottom: -5%;
    z-index: 2;
}

.div_1 h6{
    font-size: 14px;
}

.div_1 p{
    font-size: 25px;
    font-weight: 100;
}

#section1 .div_2{
    position: relative;
    width: 40%;
    background-color: #F6E1C5;
    padding: 2%;
    margin-top: -10%;
}

.div_2 p {
    font-size: 18px;
    font-weight: 400;
}


/* --------- */

#section1 .div_3{
    position: relative;
    width: 40%;
    background-color: #F6E1C5;
    padding: 2%;

    /* margin-left: 73%; */
    margin-bottom: -5%;
    z-index: 2;
}

.div_3 h6{
    font-size: 14px;
}

.div_3 p{
    font-size: 25px;
    font-weight: 100;
}

#section1 .div_4{
    position: relative;
    width: 35%;
    background-color: #F6E1C5;
    padding: 2%;
    margin-top: -10%;
    margin-left: 58%;
}

.div_4 p {
    font-size: 18px;
    font-weight: 400;
}
/* ---- */


#section1 .div_5 {
    position: relative;
    width: 35%;
    background-color: #F6E1C5;
    padding: 2%;

    margin-left: 58%;
    margin-bottom: -5%;
    z-index: 2;
}

.div_5 h6 {
    font-size: 14px;
}

.div_5 p {
    font-size: 25px;
    font-weight: 100;
}

#section1 .div_6 {
    position: relative;
    width: 40%;
    background-color: #F6E1C5;
    padding: 2%;
    margin-top: -10%;
}

.div_6 p {
    font-size: 18px;
    font-weight: 400;
}


/* Partie Responsive */

@media screen and (max-width: 768px){
    #section1 img{
        width: 100%;
        margin: 0;
    }

    #section1 .div_1,
    #section1 .div_5{
        width: 100%;
        margin-left: 0%;
        margin-bottom: 1%;
    }

    #section1 .div_2,
    #section1 .div_6{
        width: 100%;
        height: 125px;
        margin-top: 1%;
        /* margin-left: -3%; */
    }

    #section1 .div_2 p,
    #section1 .div_6 p{
        font-size: 12px;
    }

    #section1 .div_3{
        width: 100%;
        margin-left: 0%;
        margin-bottom: 1%;
    }
    
    #section1 .div_4{
        width: 100%;
        margin-left: 0%;
        margin-top: 1%;
    }

    #section1 .div_4 p{
        font-size: 12px;
    }
}