@media screen and (max-width: 768px) {
    .material-symbols-outlined{
        color: white;
    }
    .navbar-toggler{
        margin: auto;
    }

    #navbarNav{
        background-color: #490909;
        padding-left: 3%;
    }

    nav .menu{
        z-index: 9;
        padding: 0;
    }
    #section1{
        display: flex;
        flex-direction: column-reverse;
    }

    .card1{
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
    }
    
    .card2{
        position: relative;
        width: 100%;
    }

    #section2 .div2{
        width: 100%;
    }
}