#section1 {
    background-color: #A5342BB0;
    padding: 6%;
    /* margin-bottom: 5%; */
}

#section1 .div-1 {
    background-color: #F6E1C5;
    width: 60%;
    /* height: 350px; */
    padding: 6% 14%;
    border: 6px double black;
}

#section1 table{
    margin: auto;
    width: 100%;
}

#section1 table td{
    padding: 3% 9%;
}





#section2{
    display: flex;
    flex-direction: column;
    background-color: #0000008a;
    margin-bottom: 0;
}

#section2 .about_coffee {
    background-color: #F6E1C5;
    width: 50%;
    padding: 3%;
    margin-top: -7%;
    margin-bottom: 6%;
}

.about_coffee h3 {
    font-weight: 300;
    font-size: 30px;
}

/* Partie Responsive */

@media screen and (max-width: 768px) {
    
    #section1 .div-1{
        width: 100%;
    }
    
    #section1 table td{
        padding: 2% 13%;
        font-size: 12px;
    }

    #section2 img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        margin-bottom: 20%;
    }

    #section2 .about_coffee {
        width: 93%;
    }

    .about_coffee h3 {
        font-weight: 700;
        font-size: 15px;
    }
    
    #section2 .about_coffee h6{
        font-weight: 400;
        font-size: 15px;
    }
    
    #section2 .about_coffee p{
        font-weight: 100;
        font-size: 12px;
    }


}